<div class="container">
   <h4 class="float-left">In Your Cart </h4><a href="/user/buycart" class="btn btn-primary float-right mb-3 text-white">Buy</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="text-align:center; width:5%;">#</th>
                <th scope="col" style="text-align:center; width:30%;">Product name</th>
                <th scope="col" style="text-align:center; width:10%;">Quntity</th>
                <th scope="col" style="text-align:center; width:20%;">Total Price</th>
                <th scope="col" style="text-align:center; width:20%;">Date</th>
            </tr>
        </thead>
        <tbody>
        <%
            var count = 0;
            for(var i=0; i<buylogs.length; i++) { 
                if(buylogs[i].status != "cart") continue;
                count++;
                var day = date_format(buylogs[i].reg_date);
        %>
            <tr>
                <th style="text-align:center;"><%= count %></th>
                <td style="text-align:center;"><%= buylogs[i].name %></td>
                <td style="text-align:center;"><%= buylogs[i].quntity %></td>
                <td style="text-align:center;"><%= money_format(buylogs[i].price) %></td>
                <td style="text-align:center;"><%= day %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <h4>Your Purchase</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="text-align:center; width:5%;">#</th>
                <th scope="col" style="text-align:center; width:30%;">Product name</th>
                <th scope="col" style="text-align:center; width:10%;">Quntity</th>
                <th scope="col" style="text-align:center; width:20%;">Total Price</th>
                <th scope="col" style="text-align:center; width:20%;">Date</th>
            </tr>
        </thead>
        <tbody>
        <% 
            var count = 0;
            for(var i=0; i<buylogs.length; i++) { 
                if(buylogs[i].status != "buy") continue;
                count++;
                var day = date_format(buylogs[i].reg_date);
        %>
            <tr>
                <th style="text-align:center;"><%= count %></th>
                <td style="text-align:center;"><%= buylogs[i].name %></td>
                <td style="text-align:center;"><%= buylogs[i].quntity %></td>
                <td style="text-align:center;"><%= money_format(buylogs[i].price) %></td>
                <td style="text-align:center;"><%= day %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <h4>Your products</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="text-align:center; width:5%;">#</th>
                <th scope="col" style="text-align:center; width:30%;">Product name</th>
                <th scope="col" style="text-align:center; width:20%;">Price</th>
                <th scope="col" style="text-align:center; width:20%;">Registration dates</th>
            </tr>
        </thead>
        <tbody>
        <% 
            var count = 0;
            for(var i=0; i<products.length; i++) { 
                count++;
                var day = date_format(products[i].reg_date);
        %>
            <tr>
                <th style="text-align:center;"><%= count %></th>
                <td style="text-align:center;"><%= products[i].name  %></td>
                <td style="text-align:center;"><%= money_format(products[i].price) %></td>
                <td style="text-align:center;"><%= day %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>