<!-- begin : in cart dialog -->
<div class="modal fade" id="incartModal" tabindex="-1" role="dialog" aria-labelledby="incartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">In Your Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" id="close-cart" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                <button id="in_submit" type="button" class="btn btn-primary">In My Cart</button>
            </div>
        </div>
    </div>
</div>
<!-- end : in cart dialog -->
<!-- begin : show products -->
<section class="container">
    <h1 class="display-4 p-5 text-center"><%= keyword ? "'"+keyword +"'의 검색결과": "We sell this" %></h1>
    <div class="row justify-content-center">
        <div class="row col-md-11">
        <% for(var i=0; i<products.length; i++){ %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div style="width:100%;height:280px;overflow:hidden;">
                        <img class="card-img-top" src="product/<%- products[i].image_url -%>"
                        alt="Card image cap" style="object-fit:contain; width:100%; height:100%;">
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <%= products[i].name %> </li>
                        <li class="list-group-item"> <%= money_format(products[i].price) %> </li>
                        <li class="list-group-item"> <%= products[i].category %> </li>
                        <li class="list-group-item">
                            <a href="/product/showProduct?product=<%= products[i].id %>" class="card-link">Detail</a>
                            <a href="#" class="card-link" class="btn btn-primary" data-toggle="modal" data-target="#incartModal" data-pid="<%= products[i].name %>" data-name="<%= products[i].name %>" data-price="<%= products[i].price %>">IN CART</a>
                        </li>
                    </ul>
                </div>
            </div>
        <% } %>
        </div>
    </div>
</section>
<!-- end : show products -->
<script type="text/javascript">
    var pid     = null;
    var name    = null;
    var price   = null;
    
    $("a[data-target='#incartModal']").click(function(){
        pid     = $(this).attr("data-pid");
        name    = $(this).attr("data-name");
        price   = $(this).attr("data-price");
    });
    $("#in_submit").click(function(){
        $.ajax({
            type : "post",
            url  : "/product/buyProduct",
            data : {
                "pid"     : pid,
                "name"    : name,
                "type"    : "cart",
                "price"   : price,
                "quntity" : 1
            },
            success : function (data) {
                if (data) {
                    console.log("sucess");
                    $("#close-cart").click();
                } else {
                    console.log("fail");
                }             
            }
        });
    });
</script>